# Welcome to text-classification ^.^

### 1.  let's start with amazon

In [1]:
import pandas as pd

filepath_dict = {'amazon': 'assets/amazone.txt',
                 'yelp':   'assets/yelp.txt',
                 'imdb':   'assets/imdb.txt'}

df_list = []
for source, filepath in filepath_dict.items():
    df = pd.read_csv(filepath, names=['sentence', 'label'], sep='\t')
    df['source'] = source  # Add another column filled with the source name
    df_list.append(df)

df = pd.concat(df_list)
# print(df.iloc[0])
df

                                              sentence  label  source
0    So there is no way for me to plug it in here i...      0  amazon
1                          Good case, Excellent value.      1  amazon
2                               Great for the jawbone.      1  amazon
3    Tied to charger for conversations lasting more...      0  amazon
4                                    The mic is great.      1  amazon
..                                                 ...    ...     ...
743  I just got bored watching Jessice Lange take h...      0    imdb
744  Unfortunately, any virtue in this film's produ...      0    imdb
745                   In a word, it is embarrassing.        0    imdb
746                               Exceptionally bad!        0    imdb
747  All in all its an insult to one's intelligence...      0    imdb

[2748 rows x 3 columns]

In [2]:
df_yelp = df[df['source'] == 'amazon']
df_yelp

                                              sentence  label  source
0    So there is no way for me to plug it in here i...      0  amazon
1                          Good case, Excellent value.      1  amazon
2                               Great for the jawbone.      1  amazon
3    Tied to charger for conversations lasting more...      0  amazon
4                                    The mic is great.      1  amazon
..                                                 ...    ...     ...
995  The screen does get smudged easily because it ...      0  amazon
996  What a piece of junk.. I lose more calls on th...      0  amazon
997                       Item Does Not Match Picture.      0  amazon
998  The only thing that disappoint me is the infra...      0  amazon
999  You can not answer calls with the unit, never ...      0  amazon

[1000 rows x 3 columns]

In [3]:
sentences = ['Good case, Excellent value.','Great for the jawbone.']

In [4]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(min_df=0, lowercase=False)
vectorizer.fit(sentences)
vectorizer.vocabulary_

{'Good': 1,
 'case': 3,
 'Excellent': 0,
 'value': 7,
 'Great': 2,
 'for': 4,
 'the': 6,
 'jawbone': 5}

In [5]:
vectorizer.transform(sentences).toarray()

array([[1, 1, 0, 1, 0, 0, 0, 1],
       [0, 0, 1, 0, 1, 1, 1, 0]])

In [6]:
from sklearn.model_selection import train_test_split

df_amazon = df[df['source'] == 'amazon']

sentences = df_yelp['sentence'].values
y = df_yelp['label'].values

sentences_train, sentences_test, y_train, y_test = train_test_split(sentences, y, test_size=0.25, random_state=1000)

In [7]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
vectorizer.fit(sentences_train)

X_train = vectorizer.transform(sentences_train)
X_test  = vectorizer.transform(sentences_test)
X_train

<750x1546 sparse matrix of type '<class 'numpy.int64'>'
	with 6817 stored elements in Compressed Sparse Row format>

In [8]:

from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train, y_train)
score = classifier.score(X_test, y_test)

print("Accuracy:", score)

Accuracy: 0.796

In [9]:
for source in df['source'].unique():
    df_source = df[df['source'] == source]
    sentences = df_source['sentence'].values
    y = df_source['label'].values

    sentences_train, sentences_test, y_train, y_test = train_test_split(
        sentences, y, test_size=0.25, random_state=1000)

    vectorizer = CountVectorizer()
    vectorizer.fit(sentences_train)
    X_train = vectorizer.transform(sentences_train)
    X_test  = vectorizer.transform(sentences_test)

    classifier = LogisticRegression()
    classifier.fit(X_train, y_train)
    score = classifier.score(X_test, y_test)
    print('Accuracy for {} data: {:.4f}'.format(source, score))

Accuracy for amazon data: 0.7960
Accuracy for yelp data: 0.7960
Accuracy for imdb data: 0.7487

# Conclusion ^.^

> the accuracy of the amazon is 79% which is great and very high, and that is good for data analysis, it predictions are close to reality and the real feedb

<hr> 
<hr> 
<hr>

## 2. imdb Feedback :D

In [13]:
df_yelp = df[df['source'] == 'imdb']
df_yelp

                                              sentence  label source
0    A very, very, very slow-moving, aimless movie ...      0   imdb
1    Not sure who was more lost - the flat characte...      0   imdb
2    Attempting artiness with black & white and cle...      0   imdb
3         Very little music or anything to speak of.        0   imdb
4    The best scene in the movie was when Gerardo i...      1   imdb
..                                                 ...    ...    ...
743  I just got bored watching Jessice Lange take h...      0   imdb
744  Unfortunately, any virtue in this film's produ...      0   imdb
745                   In a word, it is embarrassing.        0   imdb
746                               Exceptionally bad!        0   imdb
747  All in all its an insult to one's intelligence...      0   imdb

[748 rows x 3 columns]

In [27]:
sentences = ['plot and lines almost non-existent.', 'Great for the jawbone']

In [28]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer(min_df=0, lowercase=False)
vectorizer.fit(sentences)
vectorizer.vocabulary_

{'plot': 8,
 'and': 2,
 'lines': 6,
 'almost': 1,
 'non': 7,
 'existent': 3,
 'Great': 0,
 'for': 4,
 'the': 9,
 'jawbone': 5}

In [29]:
vectorizer.transform(sentences).toarray()

array([[0, 1, 1, 1, 0, 0, 1, 1, 1, 0],
       [1, 0, 0, 0, 1, 1, 0, 0, 0, 1]])

In [20]:
from sklearn.model_selection import train_test_split

df_amazon = df[df['source'] == 'amazon']

sentences = df_yelp['sentence'].values
y = df_yelp['label'].values

sentences_train, sentences_test, y_train, y_test = train_test_split(sentences, y, test_size=0.25, random_state=1000)

In [21]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
vectorizer.fit(sentences_train)

X_train = vectorizer.transform(sentences_train)
X_test  = vectorizer.transform(sentences_test)
X_train

<561x2505 sparse matrix of type '<class 'numpy.int64'>'
	with 8413 stored elements in Compressed Sparse Row format>

In [22]:

from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train, y_train)
score = classifier.score(X_test, y_test)

print("Accuracy:", score)

Accuracy: 0.7486631016042781

# Conclusion ^.^

> the accuracy of the imdb is 74% which is really high !and it can predicts good,  that is really close to real data and feedback! :)


<hr> 
<hr> 
<hr>